node_modules
lib
output
*.swp
*.log
.env
upload
memory
profile
public
src/scripts/const.ts
ref
.vscode/*
.prettierrc.js

*.import.json
*.import.csv
temp.ts

src/Monitor/startLocal.ts
test.sh
tempScripts
